body{
  font-family: Arial;
  margin: 0;
  width: 1366px;
  margin: 0 auto;
}
ul{
  margin: 0;
}

/* header */

.header{
  background-image: url('./img/header-img.jpg');
  height: 395px;
  margin-bottom: 50px;
  width: 1600px;
  margin: 0 auto;
}
.header-block{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-text-first{
  font-weight: bolder;
  color: white;
  display: flex;
}
.logo-text-second{
  font-weight: unset;
  color: white;
  font-size: 24px;
}
.logo-wrapper{
  display: flex;
  justify-content: flex-start;
  width: 25px;
  height: 32px;
  align-items: center;
}
.nav-block{
  display: flex;
  justify-content: flex-end;
}
.navigation{
  width: 705px;
  margin: 0 50px;
}
.nav-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list{
  list-style: none;
}
.nav-link{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
}
.nav-link:hover{
  color: black;
}
.header-text-block{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text{
  color: white;
  text-transform: capitalize;
  font-size: 40px;
}
.header-text:hover{
  color: black;
}

/* main */
.main{
  width: 1600px;
  margin: 0 auto;
}
/* section */

.content{
  width: 730px;
}
.section-image{
  margin-top: 50px;
}
.comments{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.icon{
  width: 15px;
  height: 15px; 
  color: #3498db;
  margin-right: 5px;
}
.icon:hover{
  color : black;
}
.section-text-title{
  font-weight: bold;
}
.section-btn{
  width: 120px;
  height: 40px;
  text-transform: capitalize;
  background-color: #009bdf;
  border: 0px;
}
.section-btn:hover{
  background-color: black;
  color: white;
}
.main-block{
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
  

/* aside */

/* search */
.aside-search{
  margin-top: 50px;
  display: inline-block;
}
.aside-search-input{
  width: 295px;
  height: 55px;
}
.btn-search{
  width: 55px;
  height: 55px;
  background-color: #3498db;
  border: 0;
}
.btn-search{
  color: white;
}

/* categories */

.aside-title{
  margin-top: 40px;
  color: #3498db;
  text-transform: uppercase;
  border-bottom: 1px solid #009bdf;
  width: 135px;
  /* padding: 15px; */
}
.categories-list{
  list-style: none;
  margin-bottom: 20px;  
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.categories-list:hover{
  font-size: 20px;
}
.categories-link{
  text-decoration: none;
  color: black;
  text-transform: capitalize;  
  display: inline-block;
}
.categories-num{
  text-decoration: none;
  color: black;
  display: flex;
}
/* Post */

.post-list{
  list-style: none;
  margin-bottom: 30px;
}
.post-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 15px;
}
.post-link:hover{
  font-size: 20px;
}

/* archives */

.archive-list{
  list-style: none;
  margin-bottom: 30px;
}
.archive-link{
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}
.archive-link:hover{
  font-size: 20px;
}

/* tag */
.tag-item{
  display: flex;
  flex-wrap: wrap;
  width: 380px; 
  height: 100px;
}
.tag-list{
  list-style: none;
  margin: 20px 10px 0 ;
}
.tag-link{
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  background-color: #ececec;
}
.tag-link:hover{
  background-color: #009bdf;
  color: white;
}
/* plagination */
.plagination{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1170px;
  margin-left: 215px;
}
.plagination-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding: 0;
}
.plagination-list{
  list-style: none;
}
.plagination-link{
  text-decoration: none;
  color: black;
  background: #ececec;
  padding: 15px;
}
.plagination-link:last-child{
  padding: 15px 25px 15px 25px;
  text-transform: capitalize;
}
.plagination-link:hover{
  background-color: #009bdf;
  color: white;
}
/* footer */

.footer{
  width: 1600px;
  margin: 0 auto;
  height: 150px;
  background-color: black;
  display: flex;
  align-items: center;
}
.footer-block{
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyrigth{
  color: #404040;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.heart{
  color: red;
}
.icon-item{
  display: flex;
}
.icon-list{
  list-style: none;
  border-right: 1px solid white;
}
.icon-list:last-child{
  border: 0px;
}
.icon-link{
  text-decoration: none;
  color: white;
  width: 15px;
  height: 20px;
  font-size: 20px;
  margin: 0px;
  text-align: center;
}
.icon-link:hover{
  color: #3498db;
}
.footer-icon{
  width: 30px;
}