body{
  font-family: Arial;
  margin: 0;
}

/* header */

.header{
  background-image: url('./img/header-img.jpg');
  height: 395px;
  margin-bottom: 50px;
}
.header-block{
  width: 1180px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-text{
  color: white;
}
.logo-wrapper{
  display: flex;
  justify-content: flex-start;
  width: 25px;
  height: 32px;
  align-items: center;
}
.nav-block{
  display: flex;
  justify-content: flex-end;
}
.navigation{
  width: 705px;
  margin: 0 50px;
}
.nav-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-list{
  list-style: none;
}
.nav-link{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
}
.header-text-block{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text{
  color: white;
  text-transform: capitalize;
  font-size: 40px;
}

/* main */

/* section */

.content{
  width: 730px;
}
.section-image{
  margin-top: 50px;
}
.comments{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.icon{
  width: 15px;
  height: 15px; 
  color: blue;
  margin-right: 5px;
}
.section-text-title{
  font-weight: bold;
}
.section-btn{
  width: 120px;
  height: 40px;
  text-transform: capitalize;
  background-color: #009bdf;
  border: 0px;
}
.main-block{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}